`include "uvm_macros.svh"
import uvm_pkg::*;
import ethernet_pkg::*;

class ethernet_env extends uvm_env;

    // Factory Registration
    `uvm_component_utils(ethernet_env)

    // Component Handles
    ethernet_agent      agent;
    ethernet_scoreboard scoreboard;
    ethernet_coverage   cov;

    // Constructor
    function new(string name = "ethernet_env", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    // Build Phase
    function void build_phase(uvm_phase phase);
        super.build_phase(phase);

        agent      = ethernet_agent      ::type_id::create("agent", this);
        scoreboard = ethernet_scoreboard ::type_id::create("scoreboard", this);
        cov        = ethernet_coverage   ::type_id::create("cov", this);

    endfunction

    function void connect_phase(uvm_phase phase);
        super.connect_phase(phase);
        agent.driver.analysis_port.connect(scoreboard.expected_imp);

        agent.dec_mon.analysis_port.connect(scoreboard.actual_imp);

        agent.driver.analysis_port.connect(cov.analysis_export);

        //agent.enc_mon.analysis_port.connect(cov.analysis_export);

    endfunction

endclass